# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Obj/
UserSettings/

# Ignore crash reports
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
Thumbs.db

# ================= #
# Visual Studio / VS #
# ================= #
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Rider
.idea/

# ============ #
# Auto builds  #
# ============ #
*.apk
*.aab
*.app
*.exe
*.ipa
*.xcodeproj
*.xcworkspace
*.vsconfig

# ============ #
# Do NOT ignore #
# ============ #
# Keep meta files
!*.meta
# Keep assets (textures, sprites, prefabs, scenes, etc.)
!Assets/**

# ============ #
# Others       #
# ============ #
# Ignore cache & builds
/[Bb]uilds/
